<div class="col-md-12 text-center pt-2">
    <h2>Cortes</h2>
</div>
<div class="row justify-content-center">
    <div class="col-10 option" (click)="abrirModal.emit('revisionCortes')">
        Revisión de cortes
    </div>
    <div class="col-10 option" (click)="abrirModal.emit('reporteVentas')">
        Reporte de ventas
    </div>
    <div class="col-10 option" (click)="abrirModal.emit('reporteContables')">
        Reporte contable
    </div>
    <div class="col-10 option" (click)="abrirModal.emit('reportePropinas')">
        Reporte de propinas
    </div>
    <div class="col-10 option" (click)="abrirModal.emit('incidenciasTurno')">
        Incidencias de turno
    </div>
    <div class="col-10 option">
        Consumo interno por empleado
    </div>
    <div class="col-10 option">
        Cortesias, cambios y canclaciones
    </div>
    <div class="col-10 option" (click)="abrirModal.emit('modalControlGastos')">
        Control de gastos
    </div>
</div>
