.disable-tipos{
    pointer-events: none;
    opacity: 0.4;
  }
  
.contenedor-filtros-corte{
    box-shadow: 7px 7px 15px #dfdfdf;
    border-radius: 1vh;
    padding: 1.5vh 1.5vh;
}

.cont-filtros{
    width: 160vh !important;
}

.select-areas{
    background: #c6c5c5;
    font-weight: bold;
    width: 100%;
    height: 5vh;
    text-align: center;
    border-radius: 5vh;
    border:none;
}

.tabla-contenido{
    height: 59vh;
}

.head-tabla{
    background-color: #e4e4e4;
}

.round {
    width: 4vh;
    height: 4vh;
  }

.table-responsive{
    box-shadow: 7px 7px 15px #dfdfdf;
    border-radius: 1vh;
  }

.corte-check{
    padding-top: 2.5vh
}

.form-check-input{
    width: 4vh;
    height: 4vh;
}

.input-corte{
    background-color: #e4e4e4;
    width: 100%;
    height: 5vh;
    border-radius: 5vh;
    border:none;
}

.etiqueta{
    color:#e4e4e4;

}

.checkbox-round {
    width: 5vh;
    height: 5vh;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid gray;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  
  .checkbox-round:checked {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid white;
    outline: 3px solid gray;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: rgb(126, 29, 29);
  }
  
  .form-check-input {
    margin-top: 0rem !important;
  }
  
    @media (max-width: 769px){         /*IPAD*/
      .tamaño-modal-alerta{
        width: 65vh;
      }
  
      .titulo-modales-alertas{
          font-size: 3.5vh;
        }
  
      .cont-registrar{
          width: 60vh;
      }
  
      .checkbox-round {
        width: 4vh;
        height: 4vh;
      }
      
      .checkbox-round:checked {
        width: 4vh;
        height: 4vh;
      }
    }
    
    @media (max-width: 767px){  /* TELEFONO */
      .tamaño-modal-alerta{
        width: 55vh;
      }
  
      .titulo-modales-alertas{
          font-size: 3.5vh;
        }
  
        .checkbox-round {
          width: 4vh;
          height: 4vh;
        }
        
        .checkbox-round:checked {
          width: 4vh;
          height: 4vh;
        }
    }
  
    @media (min-width:  1350px){ /* PANTALLAS GRANDES */
      .checkbox-round {
        width: 4vh;
        height: 4vh;
      }
      
      .checkbox-round:checked {
        width: 4vh;
        height: 4vh;
      }
    }