<div class="modal fade" id="impresorasModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <div class="text-center">
                    <h4 class="modal-title"><b>Impresoras globales</b></h4>
                    <div>Seleccione la impresora para cada area</div>
                </div>

                <div class="card mb-3" style="width: 100%;">

                    <div class="card-body text-center">
                        <span>Recepción</span>
                        <div class="w300-px centerDiv">
                            <input class="sot-form-control" list="impresoras1" name="impresora1" placeholder="">
                            <datalist id="impresoras1">
                                <option value="imp1">1</option>
                                <option value="imp2">2</option>
                                <option value="imp3">3</option>
                            </datalist>
                        </div>
                    </div>

                </div>

                <div class="text-center">
                    <div class="text-center">
                        <button type="button" class="btn-modal-details btn-success mr-3" data-dismiss="modal">
                            <div><i class="fas fa-check"></i></div>
                            <div style="font-size: 11px;">Aceptar</div>
                        </button>
                        <button type="button" class="btn-modal-details btn-redBold" data-dismiss="modal">
                            <div><i class="icon-icon-metro-exit"></i></div>
                            <div style="font-size: 11px;">Salir</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>