<div class="col-md-12 text-center pt-2">
  <h2>Fajillas</h2>
</div>
<div class="col-md-12 pt-2">
  <ul class="list-group">
      <li class="list-group-item option d-flex justify-content-between" (click)="nuevaFajilla()">Nueva <i class="icon-money i-verde"></i></li>
      <li class="list-group-item option d-flex justify-content-between" >Consultar <i class="icon-search i-verde"></i></li>
      <li class="list-group-item option d-flex justify-content-between" (click)="cerrarModal()">Salir <i class="icon-icon-metro-exit i-rojo"></i></li>
  </ul>
</div>


<app-registro-fajilla #componentRegistroFajilla></app-registro-fajilla>
