    <div class="col-md-12 pt-2">
        <ul class="list-group">
            <li class="list-group-item option">Configuración</li>
            <li class="list-group-item option">Habitaciones</li>
            <li class="list-group-item option">Mantenimiento</li>
            <li class="list-group-item option">Clientes</li>
            <li class="list-group-item option" (click)="AbrirMenu('MenuCortesOptions')">Cortes</li>
            <li class="list-group-item option">RH Personal</li>
            <li class="list-group-item option">Catalogo</li>
            <li class="list-group-item option" (click)="AbrirMenu('MenuOperacionesOptions')">Operaciones</li>
        </ul>
    </div>
