<div class="modal fade" id="centroCostosModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <div class="text-center">
                    <h4 class=""><b>Gestión de centro de costos</b></h4>
                </div>



                <div class="d-flex justify-content-around">
                    <div>
                        <span>Nombre</span>
                        <input type="text" class="sot-form-control">
                    </div>
                    <div>
                        <span>Categoria</span>
                        <input type="text" class="sot-form-control">
                    </div>
                </div>

                <div class="card mb-3 mt-2" style="width: 100%;">
                    <div class="card-header d-flex justify-content-around">
                        <div class="w50-per">Concepto</div>
                        <div class="w50-per">Tipo</div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-around">
                            <div class="w50-per">
                                Gastos de operación
                            </div>
                            <div class="w50-per">
                                Gastos
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center p-4 d-flex justify-content-between">
                    <div>
                        <button type="button" class="btn-modal-details btn-success mr-3">
                            <div><i class="fas fa-check"></i></div>
                            <div style="font-size: 11px;">Registrar</div>
                        </button>
                        <button type="button" class="btn-modal-details btn-warning mr-3">
                            <div><i class="fas fa-check"></i></div>
                            <div style="font-size: 11px;">Modificar</div>
                        </button>
                        <button type="button" class="btn-modal-details btn-secondary mr-3">
                            <div><i class="fas fa-check"></i></div>
                            <div style="font-size: 11px;">Eliminar</div>
                        </button>
                    </div>

                    <button type="button" class="btn-modal-details btn-redBold" data-dismiss="modal">
                        <div><i class="icon-icon-metro-exit"></i></div>
                        <div style="font-size: 11px;">Salir</div>
                    </button>
                </div>
            </div>
        </div>


        <div class="modal fade" id="centroActionsModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">

                        <div class="text-center">
                            <h4 class=""><b>Edicion de centro de costos</b></h4>
                        </div>



                        <div class="d-flex justify-content-around">
                            <div>
                                <span>Nombre</span>
                                <input type="text" class="sot-form-control">
                            </div>
                            <div>
                                <span>Categoria</span>
                                <input type="text" class="sot-form-control">
                            </div>
                        </div>

                        <div class="card mb-3 mt-2" style="width: 100%;">
                            <div class="card-header d-flex justify-content-around">
                                <div class="w50-per">Concepto</div>
                                <div class="w50-per">Tipo</div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                    <div class="w50-per">
                                        Gastos de operación
                                    </div>
                                    <div class="w50-per">
                                        Gastos
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="text-center p-4 d-flex justify-content-between">
                            <div>
                                <button type="button" class="btn-modal-details btn-success mr-3">
                                    <div><i class="fas fa-check"></i></div>
                                    <div style="font-size: 11px;">Registrar</div>
                                </button>
                                <button type="button" class="btn-modal-details btn-warning mr-3">
                                    <div><i class="fas fa-check"></i></div>
                                    <div style="font-size: 11px;">Modificar</div>
                                </button>
                                <button type="button" class="btn-modal-details btn-secondary mr-3">
                                    <div><i class="fas fa-check"></i></div>
                                    <div style="font-size: 11px;">Eliminar</div>
                                </button>
                            </div>

                            <button type="button" class="btn-modal-details btn-redBold" data-dismiss="modal">
                                <div><i class="icon-icon-metro-exit"></i></div>
                                <div style="font-size: 11px;">Salir</div>
                            </button>
                        </div>
                    </div>
                </div>