<div class="modal fade" id="reportarMatricula">
    <div class="modal-dialog">
      <div class="modal-content">                    
        
        <div class="modal-body d-flex justify-content-between">                

            <div class="matricula-box">
                <div>
                    <input type="text" name="matricula" id="matricula" placeholder="Matricula...">
                </div>
                <div>
                    <div class="card mt-2" style="width: 321px;">
                        <div class="card-header text-center">
                          <b style="color: #9B9898;">Reportes de matrícula</b>
                          <div><b>AAA-2345</b></div>
                        </div>
                        <div class="card-body">
                          <div class="reportes-box">20/11/2020 - 10:15 AM</div>

                          <div class="btn-inhabilitarReporte">
                              Inhabilitar reporte
                          </div>
                        </div>
                      </div>
                </div>
                <div></div>
            </div>
            
            <div class="matricula-box" style="width: 425px;">
                <div>
                    <div class="card mt-2" style="width: 425px;">
                        <div class="card-header d-flex justify-content-between">
                          <div><b style="color: #9B9898;">Crear reporte nuevo</b></div>
                          <div><b>AAA-2345</b></div>
                        </div>
                        <div class="card-body text-center">
                          <div>
                              <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripción" cols="10" rows="5"></textarea>
                          </div>

                          <div class="btn-inhabilitarReporte">
                              Reportar matrícula
                          </div>
                        </div>
                      </div>
                </div>
                <div>
                    <div class="card mt-2" style="width: 425px;">
                        <div class="card-header d-flex justify-content-between">
                          <div><b style="color: #9B9898;">Detalle reporte</b></div>
                          <div><b>AAA-2345</b></div>
                        </div>
                        <div class="card-body text-center">
                          <div>
                              <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripción" cols="10" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                </div>
            </div>

            

        </div>
        
        <div class="text-center p-4">
            <button type="button" class="btn-modal-details btn-success mr-3" data-dismiss="modal">
                <div><i class="fas fa-check"></i></div>
                <div style="font-size: 11px;">Aceptar</div>
            </button>
            <button type="button" class="btn-modal-details btn-redBold" data-dismiss="modal" >
                <div><i class="icon-icon-metro-exit"></i></div>
                <div style="font-size: 11px;">Salir</div>
            </button>
        </div>
      </div>
    </div>
</div>
